<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h3>ログインフォーム</h3>

<p th:if="${param.error}">
    Error!
</p>
<form method="POST" th:action="@{/login}">
    <table>
        <tr>
            <td><label for="username">User:</label></td>
            <td><input id="username" name="username"
                       type="text" value='aaaa'/>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input id="password" name="password"
                       type="password" value="demo"/>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit">ログイン</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>